version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - dependencies
    versioning-strategy: increase
    groups:
      eslint:
        patterns:
          - "*eslint*"
          - "globals"
      vitest:
        patterns:
          - "vitest"
          - "@vitest/coverage-v8"
      prettier:
        patterns:
          - "prettier"
          - "prettier-plugin-jsdoc"
