name: Update package version

on:
  workflow_dispatch:
    inputs:
      new_version:
        description: "The new version (major.minor.patch)"
        required: true

env:
  NEW_VERSION: ${{ github.event.inputs.new_version }}
  NEW_BRANCH: workflow/bump-package-version-v${{ github.event.inputs.new_version }}
  GH_TOKEN: ${{ secrets.MEILI_BOT_GH_PAT }}

jobs:
  update-version:
    name: Update version in package.json
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
      - name: Update package.json file
        run: |
          pnpm version ${{ env.NEW_VERSION }} --no-git-tag-version
      - name: Commit and push the changes to the ${{ env.NEW_BRANCH }} branch
        uses: EndBug/add-and-commit@v9
        with:
          message: "Update version for the next release (v${{ env.NEW_VERSION }}) in package.json"
          new_branch: ${{ env.NEW_BRANCH }}
          add: "package.json"
      - name: Create the PR pointing to main
        run: |
          gh pr create \
            --title "Update version for the next release (v$NEW_VERSION)" \
            --body '_This PR is auto-generated._

          The automated script updates the version of meilisearch-js to a new version: "v$NEW_VERSION"' \
            --label 'skip-changelog' \
            --base main \
            --head ${{ env.NEW_BRANCH }}
